# Backend environment variables
PORT=3001
NODE_ENV=development

# SQLite database stored relative to database/prisma/schema.prisma
DATABASE_URL="file:./dev.db"

# Frontend
FRONTEND_URL=http://localhost:3000
